.donate-header{
    padding: 5px;
    border-radius: 20px;
    background-color: rgb(25, 129, 33);
    color: white;
    text-decoration: none;
}

.donate-header:hover{
    background-color: rgb(7, 53, 21);
    color: white;
}

.middle_heading{
    background-color: rgb(40, 33, 150);
    color: aliceblue;
    padding: 15px;
}

.btn-calendar{
    color: black;
    text-decoration: none;
}
.btn-calendar:focus{
    outline: 2px solid black;
    background-color: crimson;
    color: white;
}

.add_info{
    text-align: center;
    margin: 80px;
}

.add_info li{
    list-style: none;
}

.guidelines_button{
    margin-top: 30px;
}

.btn-pink{
    margin-top: 15px;
}

.navigation li:focus-within{
    outline: 2px solid black;
}

.top-menu li:focus-within{
    outline: 2px solid black;
}

.logo:focus-within{
    outline: 2px solid black;
}

.initiative:focus{
    outline: 2px solid black;
}

.textwidget li:focus-within{
    outline:2px solid black;
}

.add_info li:focus-within{
    outline: 2px solid black;
}


.spon:focus-within{
    outline:2px solid rgb(255, 255, 255);
}

.sns_con{
    display: flex;
}

.snslogo{
    padding: 20px;
}

.snslogo:nth-of-type(2){
    padding-right: 30px;
}

.snslogo:focus-within{
    outline: 2px solid black;
}

.send:focus{
    outline:2px solid white;
}